
/*>>>> 폰트 <<<<*/
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Inter', sans-serif;    
}

body {
    overflow: hidden;
    overflow-y: auto;
    font-size: 14px;
    color: #0a0a0a;
    letter-spacing: -0.05em;
    line-height:1.4;
}

#contents {
  // width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--ntp-one-google-bar-height));
    min-width: fit-content;
    padding-top: var(--ntp-one-google-bar-height);
    position: relative;
    z-index: 1;
}



/*>>>> 스타일제거 <<<<*/
li {
    list-style: none;
}

a {
    text-decoration: none;
}

input, button {
  padding: 8px; /* 원하는 패딩 값을 지정하세요. */
  margin: 0; /* 기본 마진을 제거합니다. */
  background: none; /* 배경을 투명으로 만듭니다. */
  outline: none; /* 포커스 효과 제거 */
}


/*>>>> Container <<<<*/
.container {
    padding:0 30px;
    .contents {

    }
}

/*>>>> 마진패딩 등 공통 css <<<<*/
.mt30 {
  margin-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.mt15 {
  margin-top: 15px;
}
.button:hover {
  cursor: pointer;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btl-black{
  border-top: 4px solid black;
}
.bbl-black{
  border-bottom: 4px solid black;
}


/*>>>> 타이틀 색상변경 <<<<*/
@keyframes colorChange {
  0% { color: red; }
  25% { color: orange; }
  50% { color: yellow; }
  75% { color: green; }
  100% { color: red; }
}

.title { 
  text-align: center;
  font-size: 90px; 
  font-family: 'DungGeunMo', sans-serif;
  line-height: 0.9;
  animation: colorChange 12s infinite;
  transition: color 3s; /* 부드러운 색상 변화를 위해 */
  span{
    font-size: 57px;
    margin-left: -5px;
    position: relative;
    top: -4px;
  }
}

/* Media Queries */

// 모바일 퍼스트: min
// 데스크탑 퍼스트 : max

@media (min-width: 640px) {
  .base{
    width: 338px;
  }
  .title { font-size: 88px; }
}

@media (min-width: 768px) {
  .base{
    width: 342px;
  }
  .title { font-size: 88px; }
}
 
@media (min-width: 1024px) {
  .base{
    width: 342px;
  }
  .title { font-size: 90px; }
}

// 가장 최소 화면크기일 때.
@media (max-width: 639px) {
  .base{
    width: 338px;
  }
  .title { font-size: 88px; }
}






// TODO :: contents css 파일 만들어서 옮겨야댐
#draw-manito{
  font-family: 'DungGeunMo', sans-serif;
  .inputName{
    display: flex;
    input{
      border: 4px solid black;
      width: 80%;
      height: 56px;
      background: #ffde34;
      touch-action: none;
    }
    input::placeholder {
      color: black; 
      font-family: 'DungGeunMo', sans-serif;
    }
    .button{
      border: 4px solid black;
      border-left: none;
      width: 20%;
      height: 56px;
      background: #2bd1be
    }
  }
  .count-people{
    font-size: 30px;
  }
  .people-list{
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    .button{
      border: 4px solid black;
      width: 30px;
      height: 30px;
      background: #d3d3d3;
      margin-left: 10px;
    }
  }
  .draw{
    .button{
      border: 4px solid black;
      width: 100%;
      height: 60px;
      background-color: black;
      color: #ffffff;
    }
  }
}
.manito-result{
  font-family: 'DungGeunMo', sans-serif;
  padding-top: 15px;

  .row{
    font-size: 28px;
    line-height: 1.2;
    padding-top: 10px;
    
  }
  .clicked{
    color: #616161!important;
  }
  .hov:hover {
    // background-color: #eee8c8; /* 원하는 색상으로 변경 */
    color: #1e89a9;
  }
  .link{
    cursor: pointer;
    display: flex;
    margin-top: 8px;
    padding: 4px 4px 4px 4px; 
    font-size: 16px;
    // border-top: solid 1px rgb(177, 177, 177);
    border-bottom: solid 4px black;
    align-items: center;
    // justify-content: flex-end;
  }
  
  .button{
    border: 4px solid black;
    width: 100%;
    height: 60px;
    background-color: black;
    color: #ffffff;
    margin-bottom: 100px;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 투명도가 있는 검은색 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  font-family: 'DungGeunMo', sans-serif;
  text-align: center;
  width: 270px;
  background-color: black;
  padding: 20px;
  /* border-radius: 5px; */
  border: 4px solid white;
  color: white;
  .modalBtn {
    color: #ffffff;
    border: 4px solid #ffffff;
    margin-bottom: 10px;
    margin-top: 24px;
  }
}

.brwser {
  width: 100%;
  padding: 6px;
  border: solid 4px black;
  background-color: #3fff8d;
  border-radius: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
}
.kakao {
  width: 100%;
  padding: 6px;
  border: solid 4px black;
  background-color: #ffe53f;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}